h1 {
	display: block;
    font-size: 1em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
	font-weight: normal;
}

h2{
	margin: 10px;
	margin-left: 25px;
	font-size: 12pt;
	font-size: 1em;
	font-weight: normal;
}

input {
	
}

form {
	margin-left: 20px;
	margin-bottom: 5px;
	
}

#wrapper {
	background-color: AliceBlue;
	border-radius: 25px;
}